@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;

}

a {
  text-decoration: none;
}

nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.navegacao-cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.navegacao {
  font-size: 1.5rem;
  color: #49a6e9;
  background: transparent;
  border: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}

.navegacao:hover {
  color: #063251;
  transform: rotate(90deg);
}

.navegacao-logo {
  font-size: 40px;
}

.navegacao-links a {
  color: #324a67;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
}

.navegacao-links a:hover {
  background: #dbeafe;
  color: #49a6e9;
  padding-left: 1.5rem;
}

.navegacao-icones-sociais {
  display: none;
}

.navegacao-links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.mostrar-links {
  height: 10rem;
}

@media screen and (min-width: 800px) {
  .navegacao-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }

  .navegacao-cabecalho {
    padding: 0;
  }

  .navegacao {
    display: none;
  }

  .navegacao-links {
    height: auto;
    display: flex;
  }

  .navegacao-links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  .navegacao-links a:hover {
    padding: 0;
    background: transparent;
  }

  .navegacao-icones-sociais {
    display: flex;
  }

  .navegacao-icones-sociais a {
    margin: 0 0.5rem;
    color: #49a6e9;
    transition: all 0.3s linear;
  }

  .navegacao-icones-sociais a:hover{
    color: #8ecae6;
  }
}