    body {
      background-color: rgb(139, 139, 237);
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 25pt;
    }

    h1 {
      color: rgb(163, 163, 11);
    }