@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f1f5f8;
  color: #102a42;
  line-height: 1.5;
  font-size: 0.875rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 2.5rem;
    line-height: 1;
  }

  body {
    font-size: 1rem;
  }
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.titulo {
  margin-top: 15vh;
  margin-bottom: 4rem;
  text-align: center;
}

.titulo h2 {
  color: #c59a5f;
  font-family: 'Great Vibes', cursive;
}

.secao-centro {
  width: 90vw;
  margin: 0 auto;
  max-width: 620px;
}

@media screen and (min-width: 992px) {
  .secao-centro {
    width: 95vw;
  }
}

.pergunta {
  background: #fff;
  border-radius: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}

.pergunta-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}

.pergunta-titulo p {
  margin-bottom: 0;
  letter-spacing: 0.15rem;
  color: #102a42;
}

.pergunta-botao {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #c59d5f;
  transition: all 0.3s linear;
}

.pergunta-botao:hover {
  transform: rotate(90deg);
}

.pergunta-texto {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  display: none;
}

.pergunta-texto p {
  margin-bottom: 0;
}

.mostrar-texto .pergunta-texto {
  display: block;
}

.icone-menos {
  display: none;
}

.mostrar-texto .icone-menos {
  display: inline;
}

.mostrar-texto .icone-mais {
  display: none;
}