    div#area {
      font: normal 20px Arial;
      background-color: lightgreen;
      color: black;
      width: 200px;
      height: 200px;
      line-height: 200px;
      text-align: center;
    }